body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.container {
  border: 1px solid lightgrey;
  margin: 30px;
  padding: 30px 60px;
}


.messageContainer {
  border: 1px solid lightgrey;
  padding: 15px;
  margin: 15px;
 -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.37);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.37);
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.37); 
}

.buttonsBar {
  padding: 10px;
}

.buttonItem {
  display: inline-block;
}

.imageContainer{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;

}

.detailsContainer{
  vertical-align: top;
  display: inline-block;
  height: 100%;
  margin: 30px 30px;
}

.userName{
  color: grey;
  font-size: 14px;
  margin-bottom: 15px;
}

.time{
  color: lightGrey;
  font-size: 10px;
}

.black{
  font-size: 18px;
  color: black;
}

.message{
  padding: 10px 30px;
  font-style: italic;
  color: grey;
}